body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}
#app {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 20px; /* 見出しのサイズを調整 */
    text-align: center;
    margin: 20px 0;
}

input[type=tel], button {
    width: 100%; /* コンテナ幅全体を使う */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

b {
    font-size: 18px;
    color: #007BFF;
}
