@charset "utf-8";



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #f0f0f0;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 99%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}

#instructor{
	border: none;
	width: 650px;
	height: auto;
}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

@keyframes opa1 {
0% {opacity: 0;}
100% {opacity: 1;}
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #ff4765;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
header {
	height: 100%;
	overflow: auto;
	position: relative;
	background: url(/images/mainimga.jpg) no-repeat center center / cover;	/*背景画像の読み込み*/
}
/*ロゴ画像*/
header #logo img {
	display: block;
	width: 20%;	/*画像の幅*/
	position: absolute;
	left: 40%;		/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
	bottom: 50%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
}

#header_2 {
	height: 10%;
	overflow: auto;
	position: relative;
	background: url(/images/submenu.jpg) no-repeat center center / cover;	/*背景画像の読み込み*/
}

@media only screen and (max-width: 985px){
	#header_2{
		height: 20%;
	}
}

@media only screen and (max-width: 458px){
	#header_2{
		height: 25%;
	}
}

@media only screen and (max-width: 297px){
	#header_2{
		height: 45%;
	}
}

@media only screen and (min-width: 1430px){
	#float_left01{
		float:left;
		margin-bottom:4em;
	}
	
	#float_right01{
		float:right;
		margin-bottom:11em;
	}
}

@media only screen and (max-width: 1430px){
	#float_left01{
		float: none;
		align: center;
	}
	
	#float_right01{
		float: none;
		align: center;
	}
	
	#instructor{
		width:100%;
		max-width:650px;
		height:auto;
		font-size:85%;
	}
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体への指定*/
#menubar {
	position: absolute;
	bottom: 20%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	left: 0px;
	width: 100%;
	text-align: center;
}

/*メニュー１個あたりの指定*/
#menubar li {
	display: inline-block;
	margin: 0 1%;
	animation-name: opa1;
	animation-delay: 1S;
	animation-duration: 1S;
	animation-fill-mode: both;
	font-weight: bolder;
}
#menubar li a {
	text-decoration: none;display: block;text-align: center;
	width: 140px;	/*メニューの幅*/
	color: #f0f8ff;	/*文字色*/
	border-bottom: 2px solid transparent;	/*下線の幅、線種、色。transparentは透明の事。*/
	padding-bottom: 7px;	/*下線と文字の間にとる余白*/
}
/*マウスオン時の指定*/
#menubar li a:hover {
	border-bottom: 2px solid #fff;	/*下線の幅、線種、色*/
	letter-spacing: 0.1em;			/*文字間隔を少しだけ広くする指定。そのままがいいならこの１行を削除。*/
}

/*メニューブロック全体への指定*/
#menubar_top {
	position: absolute;
	bottom: 87%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	left: 0px;
	width: 100%;
	text-align: center;
}

/*メニュー１個あたりの指定*/
#menubar_top li {
	display: inline-block;
	margin: 0 1%;
	animation-name: opa1;
	animation-delay: 1S;
	animation-duration: 1S;
	animation-fill-mode: both;
	font-weight: bolder;
}
#menubar_top li a {
	text-decoration: none;display: block;text-align: center;
	width: 140px;	/*メニューの幅*/
	color: #f0f8ff;	/*文字色*/
	border-bottom: 2px solid transparent;	/*下線の幅、線種、色。transparentは透明の事。*/
	padding-bottom: 7px;	/*下線と文字の間にとる余白*/
}
/*マウスオン時の指定*/
#menubar li a:hover {
	border-bottom: 2px solid #fff;	/*下線の幅、線種、色*/
	letter-spacing: 0.1em;			/*文字間隔を少しだけ広くする指定。そのままがいいならこの１行を削除。*/
}

@media only screen and (max-width: 459px){
	#menubar_top{
		bottom: 80%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	}
}

@media only screen and (max-width: 297px){
	#menubar_top{
		bottom: 65%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	}
}

input#form01 {
	width:90%;
	border: 1px solid #767676;
	padding: 8px 8px 8px 8px;
	font-size:15px;
	margin: 8px 8px 8px 8px;
}

input#form01:focus {
	border: 1px solid #191970;
	outline: 0;
	background-color: #f0f8ff;
}

select#form01 {
	width:90%;
	padding: 5px 8px 5px 8px;
	font-size:15px;
	margin: 8px 8px 8px 8px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

select#form01:focus {
	border: 1px solid #191970;
	outline: 0;
	background-color: #f0f8ff;
}

textarea#form01 {
	width: 90%;
	height: 200px;
	padding: 8px 8px 8px 8px;
	font-size:15px;
	margin: 8px 8px 0px 8px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

textarea#form01:focus {
	border: 1px solid #191970;
	outline: 0;
	background-color: #f0f8ff;
}

textarea#form02 {
	width: 98%;
	height: 200px;
	padding: 8px 8px 8px 8px;
	font-size:15px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

input[type="checkbox"] {
	transform: scale(1.6);
	border: 2px solid #191970;
}


/*コンテナー（headerとfooterをのぞくブロックを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1400px;	/*最大幅。これ以上広くならない指定。*/
	margin: 0 auto;
}

/*コンテンツ（上のcontainerの中のブロック）
---------------------------------------------------------------------------*/
#contents {
	overflow: hidden;
	padding: 50px 3%;
}
#contents section + section {
	padding-top: 50px;
}

/*コンテンツ内にあるh2(見出し)タグの指定*/
#contents h2 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 20px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	background: #003d7a;		/*背景色*/
	color: #fff;			/*文字色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
}

/*コンテンツ内にあるh3(見出し)タグの指定*/
#contents h3 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 18px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	border: 2px solid #003d7a;	/*枠線の幅、線種、色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
}

/*コンテンツ内にあるh4(見出し)タグの指定*/
#contents h4 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 10px;
	font-size: 18px;		/*文字サイズ*/
	text-align: left;		/*文字をセンタリング*/
	# letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	border-bottom: 3px solid #0255a8;	/*枠線の幅、線種、色*/
	color: #003d7a;
	font-weight: bold;
	font-size: 20px;
}

/*コンテンツ内にあるp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}

/*他。微調整。*/
#contents p + p {
	margin-top: -5px;
}

#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}

/*Serviceページ
---------------------------------------------------------------------------*/
/*各ブロックごとの設定*/
.list {
	overflow: hidden;
	line-height: 1.5;
	border-bottom: 1px solid #999;	/*下線の幅、線種、色*/
	padding: 20px;	/*ボックス内の余白*/
}

/*１番目のlistブロックへの追加指定。上に線を入れる。*/
.list:first-of-type {
	border-top: 1px solid #999;
}

/*h4見出しの設定*/
.list h4 {
	font-size: 20px;	/*文字サイズ*/
	margin-bottom: 10px;
}

/*画像の設定*/
.list img {
	width: 20%;			/*画像幅*/
	float: left;		/*画像を左に回り込み*/
	margin-right: 3%	/*画像の右側に空けるスペース*/
}

/*段落タグ*/
.list p {
	padding: 0 !important;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	background: #003D57;	/*背景色*/
	color: #fff;		/*文字色*/
	font-size: 85%;		/*文字サイズ*/
}

footer a {
	color: #fff;	/*リンクテキストの文字色*/
	text-decoration: none;
}

footer a:hover {
	color: #fff;	/*マウスオン時の文字色*/
}

footer .pr {
	display: block;
	font-size: 80%;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding-left: 20px;
	margin-bottom: 15px;
}

/*日付設定*/
#new dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
}

/*記事設定*/
#new dd {
	padding-left: 9em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: center;		/*文字をセンタリング*/
	background: #dfdfdf;	/*背景色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}

/*テーブル１行目に入った見出し部分（※tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
	text-align: center;	/*文字をセンタリング*/
	background: #dfdfdf;	/*背景色*/

}

/*ta1テーブルブロック設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}

.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	padding: 5px;			/*テーブル内の余白*/
}

/*テーブルの左側ボックス*/
.ta1 th {
	text-align: center;	/*センタリング*/
	width: 30%;			/*幅*/
	background-color: #dfdfdf;
	color: #000000;
}

/*ta2テーブルブロック設定*/
.ta2 {
	table-layout: fixed;
	width: 650px;
	height: 300px;
	margin: 0 auto 20px;
}

.ta2, .ta2 td, .ta2 th {
	word-break: break-all;
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	padding: 5px;			/*テーブル内の余白*/
}

/*テーブルの左側ボックス*/
.ta2 th {
	text-align: center;	/*センタリング*/
	width: 25%;			/*幅*/
	background-color: #dfdfdf;
	color: #000000;
}

.ta3 caption {
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	text-align: center;		/*文字をセンタリング*/
	background: #f0f8ff;	/*背景色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}

/*ta1テーブルブロック設定*/
.ta3 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}

.ta3, .ta3 td, .ta3 th {
	word-break: break-all;
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	padding: 5px;			/*テーブル内の余白*/
}

/*テーブルの左側ボックス*/
.ta3 th {
	text-align: center;	/*センタリング*/
	width: 30%;			/*幅*/
	background-color: #dfdfdf;
	color: #000000;
}

.ta4 th.tamidashi {
	width: auto;
	text-align: center;	/*文字をセンタリング*/
	background: #dfdfdf;	/*背景色*/
}

/*ta4テーブルブロック設定*/
.ta4 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}

.ta4, .ta4 td, .ta4 th {
	word-break: break-all;
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	padding: 1px;			/*テーブル内の余白*/
	font-size:89%;
}

/*テーブルの左側ボックス*/
.ta4 th {
	text-align: center;	/*センタリング*/
	width: 15%;			/*幅*/
	background-color: #dfdfdf;
	color: #000000;
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.scroll-show {display: block;}
.scroll a {
	display: block;text-decoration: none;text-align: center;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	position: fixed;
	right: 30px;		/*右からの配置場所指定*/
	bottom: 30px;		/*下からの配置場所指定*/
	color: #fff;		/*文字色*/
	background: rgba(0,0,0,0.4);	/*背景色。0,0,0は黒色の指定で0.4は色が40%出た状態。*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}

/*マウスオン時*/
.scroll a:hover {
	background: rgba(0,0,0,0.8);	/*背景色。0,0,0は黒色の指定で0.8は色が80%出た状態。*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

.newicon2 {
	background: #1e90ff;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	list-style: disc;
	padding: 0 20px 20px 55px;
}
ol {
	padding: 0 20px 20px 42px;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #fff;border: 1px solid #ccc;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px 40px;list-style: disc;}
.color1, .color1 a {color: #ff4765;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.big1 {font-size: 40px;letter-spacing: 0.2em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}




/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){
	/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
	---------------------------------------------------------------------------*/
	/*ロゴ画像*/
	header #logo img {
		width: 30%;	/*画像の幅*/
		left: 35%;	/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
	}
}

/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){
	
	/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
	---------------------------------------------------------------------------*/
	/*ロゴ画像*/
	header #logo img {
		width: 50%;	/*画像の幅*/
		left: 25%;	/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
	}
	
	/*コンテナー（headerとfooterをのぞくブロックを囲むブロック）
	---------------------------------------------------------------------------*/
	#container {
		font-size: 12px;
		font-size: 2.93vw;
	}
	
	/*コンテンツ（上のcontainerの中のブロック）
	---------------------------------------------------------------------------*/
	/*コンテンツ内にあるh2(見出し)タグの指定*/
	#contents h2 {
		font-size: 16px;	/*文字サイズ*/
	}
	/*コンテンツ内にあるh3(見出し)タグの指定*/
	#contents h3 {
		font-size: 14px;	/*文字サイズ*/
	}
	
	/*Serviceページ
	---------------------------------------------------------------------------*/
	/*h4見出しの設定*/
	.list h4 {
		font-size: 16px;	/*文字サイズ*/
	}
	
	/*ul.disc,olタグ
	---------------------------------------------------------------------------*/
	ul.disc {
		padding: 0 0px 20px 35px;
	}
	ol {
		padding: 0 0px 20px 35px;
	}
	
	/*その他
	---------------------------------------------------------------------------*/
	.ws {width: 96%;}
	.big1 {font-size: 22px;letter-spacing: normal;}
	
}

/*ボタン
---------------------------------------------------------------------------*/
.button {
	display       : inline-block;
	border-radius : 20%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 13px 57px;   /* 余白       */
	background    : #003d7a;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 4px 4px 2px #666666;  /* 影の設定 */
	margin        : 10px 20px 10px 10px;
}
.button:hover {
	box-shadow    : none;        /* カーソル時の影消去 */
}

.button2 {
	display       : inline-block;
	border-radius : 20%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 13px 57px;   /* 余白       */
	background    : #808080;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 4px 4px 2px #666666;  /* 影の設定 */
	margin        : 10px 20px 10px 10px;
}
.button2:hover {
	box-shadow    : none;        /* カーソル時の影消去 */
}